// * {
//     border: 1px solid red;
// }

.wrapper {
    max-width: 1260px;
    width: 85%;
    margin: 0 auto;
}

button, .button {
    background-color: $accent;
    padding: 10px 22px;
    font-family: $headingFont;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.6rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    border: 3px solid $accent;
    transition: 0.3s;
    cursor: pointer;
    &:hover, &:focus {
        border: 3px solid $accent;
        background-color: $whiteShade;
    }
}

img {
	display: inline-block;
    // // max-height: 100%;
}