.wrapper {
  max-width: 1260px;
  width: 90%;
  margin: 0 auto;
}

.button {
    background-color: $accent;
    padding: 15px 30px;
    color: $black;
    font-family: $headingFont;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.6rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
    &:hover, &:focus {
        border: 3px solid $accent;
        background-color: $whiteShade;
    }
}