// Home secondary nav

.secondaryNav {
    background-color: $whiteShade;
}

.secondaryNavContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 100px 0;
    .secondaryNavContent {
        width: 49%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
        i {
            display: flex;
            align-self: flex-start;
            background-color: $accent;
            border-radius: 50%;
            padding: 16px;
        }
        .linkText {
            padding-left: 20px;
            h3 { 
                padding-top: 12px;
            }
        }
    }
    .linkPhotos, .linkAbout {
        margin-bottom: 40px;
    }
}

// Copyright footer

.copyright {
    background-color: $black;
    padding: 6px 0;
    color: #FFF;
    p {
        padding: 0;
        margin: 0;
        a {
            transition: 0.3s;
            &:hover, &:focus {
                color: $accent;
            }
        }
    }
}