// HOME HEADER

.headerHome {
    background-color: $pine;
    height: 700px;
    // max-height: 70vh;
    .headerContainer {
        height: 100%;
        display: flex;
        justify-content: space-between;
        .textContainer {
            width: 58%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            position: relative;
            h1 {
                font-size: 7rem;
                line-height: 8rem;
            }
            h1::before {
                content: url(../assets/circle-text.png);
                top: 36%;
                right: 71%;
                position: absolute;
            }
        }
        .imgContainer {
            width: 40%;
            display: flex;
            position: relative; 
            img {
                width: 100%;
                height: auto;
                position: absolute;
                bottom: -70px;
                box-shadow: 18px 18px rgba(white, 1);
            }
        }
    }
}

// BLOG/CONTACT HEADER

.header {
    background-image: url(../assets/blog-image-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    // max-height: 30vh;
    height: 400px;
    .headerContainer {
        position: relative;
        height: 100%;
        h1 {
            position: absolute;
            left: 0;
            bottom: -16px;
        }
    }
}

// CONTACT HEADER

.headerContact {
    background-image: url(../assets/contact-image-1.jpg);
}