
/** Media queries breakpoints
    1460px
    1024px
    780px
    640px
    490px
**/

@media (max-width: 1460px) {

    // header
    .headerHome {
        height: 500px;
        .headerContainer {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            .textContainer {
                display: none;
            }
            .imgContainer {
                width: 33%;
                display: flex;
                justify-content: center;
                align-items: center;
                top: 500px;
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }

    // home blog preview section
    .blogContainer {
        width: 85%;
        height: auto;
    }

    .blogPreview {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: space-between;
        width: 100%;
        .textContainer {
            width: 100%;
        }
        .textContainerOne {
            padding-left: 0;
            padding-top: 60px;
        }
        .textContainerTwo {
            padding-right: 0;
            padding-bottom: 60px;
        }
        .imgContainer {
            width: 100%;
        }
    }

    .blogPreviewOne {
        position: relative;
        top: -40px;
        img {
            width: 60%;
            height: auto;
            box-shadow: 18px 18px rgba($greenGrey, 1), -120px 18px rgba($greenGrey, 1);
        }
    }

    .blogPreviewTwo {
        position: relative;
        bottom: -40px;
        img {
            width: 60%;
            height: auto;
            box-shadow: 18px 18px rgba($pine, 1), 120px 18px rgba($pine, 1);
        }
    }

    // Blog page

    .blogMainPage {
        flex-direction: column;
        .leftColumn, .rightColumn {
            width: 100%;
        }
        .leftColumn {
            .aboutArticle {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
                .aboutImg {
                    width: 35%;
                    margin-bottom: 0;
                    img {
                        width: 100%;
                        height: auto;
                        }
                }
                .aboutText {
                    flex-basis: 60%;
                }
            }
        }
    }
}

@media (max-width: 1024px) {

    // home header
    .headerHome {
        height: 550px;
        .headerContainer {
            .imgContainer {
                width: 50%;
                top: 550px;
            }
        }
    }

    // about 2 section
    .aboutTwoSection {
        .aboutTwoContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
            .imgContainer {
                width: 50%;
            }
            .textContainer {
                margin-top: 50px;
                text-align: center;
                width: 100%;
            }
        }
    }

    // form
    form {
        .contactInfo {
            flex-direction: column;
            justify-content: center;
            align-items: space-between;
            .formName, .formEmail {
            width: 100%;
            }
        }
        input, textarea {
            padding: 25px;
            margin-bottom: 15px;
        }
    }

    // secondary nav section
    .secondaryNavContainer {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .secondaryNavContent {
            width: 100%;
        }
        .linkPhotos, .linkAbout, .linkBlog {
            margin-bottom: 20px;
        }
    }

    // blog comments
    .comments {
        flex-direction: column;
        .commentContent {
            width: 100%;
        }
        .commentPhoto {
            margin-bottom: 20px;
        }
    }
}


@media (min-width: 781px) {

    // slide out nav
    .menuButton {
            display: none;
        }
    }

@media (max-width: 780px) {

    // font sizes
    body {
        font-size: 0.9rem;
    }

    h1 {
    font-size: 3.9rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1.1rem;
    }

    // site top nav 
    .siteNav {
        .topNav {
            display: none;
        }
    }

    // home header
    .headerHome {
        height: 500px;
        .headerContainer {
            .imgContainer {
                width: 70%;
                top: 500px;
            }
        }
    }

    // blog preview section
    .blogPreviewOne {
        position: relative;
        top: -40px;
        img {
            width: 100%;
            height: auto;
            box-shadow: 18px 18px rgba($greenGrey, 1), -120px 18px rgba($greenGrey, 1);
        }
    }

    .blogPreviewTwo {
        position: relative;
        bottom: -40px;
        img {
            width: 100%;
            height: auto;
            box-shadow: 18px 18px rgba($pine, 1), 120px 18px rgba($pine, 1);
        }
    }

    // home image banner
    .banner {
        height: 400px;
    }
}


@media (max-width: 640px) {

    // header
    .headerHome {
        height: 450px;
        .headerContainer {
            .imgContainer {
                width: 70%;
                top: 450px;
            }
        }
    }

    // about 2 section
    .aboutTwoSection {
        .aboutTwoContainer {
            .imgContainer {
                width: 100%;
            }
        }
    }

    // home image banner
    .banner {
        height: 300px;
    }

    // gallery section
    .galleryContainer {
        ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: space-between;
            li {
                flex-basis: 100%;
                img {
                    width: 100%;
                }
            }
            li:nth-child(2) {
                margin: 20px 0;
            }
        }
    }

    // blog page
    .blogMainPage {
        .leftColumn {
            .aboutArticle {
            display: flex;
            flex-direction: column;
            align-items: space-between;
            justify-content: center;
                .aboutImg {
                    width: 100%;
                    margin-bottom: 20px;
                    img {
                        width: 100%;
                        height: auto;
                        }
                }
                .aboutText {
                    flex-basis: 100%;
                }
            }
        }
    }
}


@media (max-width: 490px) {

    body {
        font-size: 0.8rem;
    }

    // home header
    .headerHome {
        height: 350px;
        .headerContainer {
            .imgContainer {
                width: 85%;
                top: 350px;
            }
        }
    }

    // home image banner 
    .banner {
        height: 200px;
    }

    // button
    button, .button {
        padding: 8px 18px;
        font-size: 0.9rem;
    }
}
