


@media (max-width: 1460px) {

.blogContainer {
    width: 85%;
    height: auto;
}

.blogPreview {
    // position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    width: 100%;
    // padding: 10%;
    // flex-wrap: wrap;
    .textContainer {
        width: 100%;
    }
    .textContainerOne {
        padding-left: 0;
        padding-top: 60px;
    }
    .textContainerTwo {
        padding-right: 0;
        padding-bottom: 60px;
    }
    .imgContainer {
        width: 100%;
    }
}

.blogPreviewOne {
    position: relative;
    top: -40px;
    img {
        width: 60%;
        height: auto;
        box-shadow: 18px 18px rgba($greenGrey, 1), -120px 18px rgba($greenGrey, 1);
    }
}

.blogPreviewTwo {
    position: relative;
    bottom: -40px;
    img {
        width: 60%;
        height: auto;
        box-shadow: 18px 18px rgba($pine, 1), 120px 18px rgba($pine, 1);
    }
}

// Blog page
    .blogMainPage {
        flex-direction: column;
        .leftColumn, .rightColumn {
            width: 100%;
        }
        .leftColumn {
            .aboutArticle {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
                .aboutImg {
                    width: 35%;
                    margin-bottom: 0;
                    img {
                        width: 100%;
                        height: auto;
                        }
                }
                .aboutText {
                    flex-basis: 60%;
                }
            }

        }
    }
}

@media (max-width: 1024px) {



    // about 2 section
.aboutTwoSection {

        .aboutTwoContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .imgContainer {
            width: 50%;
        }
        .textContainer {
            margin-top: 50px;
            text-align: center;
            width: 100%;
        }
    }
}

    form {
        .contactInfo {
            flex-direction: column;
            justify-content: center;
            align-items: space-between;
            .formName, .formEmail {
            width: 100%;
            }
        }
        input, textarea {
            padding: 25px;
            margin-bottom: 15px;
        }
    }

    // link section
    .linkContainer {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .linkContent {
            width: 100%;
        }
        .linkPhotos, .linkAbout, .linkBlog {
            margin-bottom: 20px;
        }
    }

    // blog comments
    .comments {
        flex-direction: column;
        .commentContent {
            width: 100%;
        }
        .commentPhoto {
            margin-bottom: 20px;
        }
    }
}

@media (max-width: 720px) {

    // font sizes

    body {
        font-size: 0.9rem;
    }

    h1 {
    font-size: 3.9rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1.1rem;
    }

    h5 {
        font-size: 0.9rem;
    }

    // header
    .header {
        .headerContainer h1 {
            font-size: 3.5rem; 
            bottom: -20px;
        }
    }


    .blogPreviewOne {
    position: relative;
    top: -40px;
    img {
        width: 100%;
        height: auto;
        box-shadow: 18px 18px rgba($greenGrey, 1), -120px 18px rgba($greenGrey, 1);
    }
}

.blogPreviewTwo {
    position: relative;
    bottom: -40px;
    img {
        width: 100%;
        height: auto;
        box-shadow: 18px 18px rgba($pine, 1), 120px 18px rgba($pine, 1);
    }
}
}

@media (max-width: 640px) {

    body {
        font-size: 0.9rem;
    }

    // header
    .header {
        .headerContainer h1 {
            font-size: 3rem; 
            bottom: -24px;
        }
    }

    // about 2 section
    .aboutTwoSection {
        .aboutTwoContainer {
            .imgContainer {
                width: 100%;
            }
        }
    }
    // gallery

    .galleryContainer {
        ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: space-between;
            li {
                flex-basis: 100%;
                img {
                    width: 100%;
                }
            }
            li:nth-child(2) {
                margin: 20px 0;
            }
        }
    }

    // blog
    .blogMainPage {
        .leftColumn {
            .aboutArticle {
            display: flex;
            flex-direction: column;
            align-items: space-between;
            justify-content: center;
                .aboutImg {
                    width: 100%;
                    margin-bottom: 20px;
                    img {
                        width: 100%;
                        height: auto;
                        }
                }
                .aboutText {
                    flex-basis: 100%;
                }
            }

        }
    }
}

@media (max-width: 490px) {

    body {
        font-size: 0.8rem;
    }

    // header
    .header {
        .headerContainer h1 {
            font-size: 2.7rem; 
            bottom: -28px;
        }
    }

    // button
    button, .button {
        padding: 8px 18px;
        font-size: 0.8rem;
    }
}

@media (max-width: 440px) {

    .header {
        .headerContainer h1 {
            font-size: 2.4rem; 
            bottom: -28px;
        }
    }

}