.siteNav {
    background-color: $pine;
    z-index: 10;
    position: sticky;
    top: 0;
    .topNav {
        display: flex; 
        justify-content: center;
        align-items: center;
        padding: 25px 0;
        li {
            padding: 0 25px;
            transition: 0.3s;
            h2, h5 {
                color: $whiteShade;
                &:hover, &:focus {
                    color: $accent;
                }
            }
        }
        li.currentPage h5 {
            color: $accent;
        }
    }
    input[type=checkbox] {
        opacity: 0;
        position: absolute;
        &:checked ~ .slideOutNav {
            left: 0;
        }
        &:focus + label {
			color: $accent;
		}
    }
    .menuButton i {
        cursor: pointer;
        padding: 20px 0;
        font-size: 2rem;
        color: $whiteShade;
        &:hover, &:focus {
            color: $accent;
        }
    }
}

// // Slide Out Nav

.slideOutNav {
    background-color: $pine;
    border-right: 1px solid $accent;
    position: fixed;
    top: 0; 
    left: -500px;
    height: 100vh;
    width: 100%;
    max-width: 500px;
    padding: 35px 50px;
    z-index: 20;
    transition: 0.75s;
    display: flex;
    flex-direction: column;
    .buttonContainer {
        display: flex;
        justify-content: flex-end;
        label {
			padding: 10px 0 10px 20px;
		}
    }
    .menuClose {
        font-family: $bodyFont;
        color: $whiteShade;
        font-size: 1.5rem;
        display: block;
        cursor: pointer;
        &:hover, &:focus {
            color: $accent;
        }
    }
    li {
        padding: 15px 0px;
        transition: 0.75s;
        h2 {
            color: $accent;
        }
        h5 {
            color: $whiteShade;
            &:hover, &:focus {
                color: $accent;
            }
        }
    }
}

