nav {
    background-color: $pine;
    ul {
        display: flex; 
        justify-content: center;
        align-items: center;
        padding: 25px 0;
        li {
            padding: 0 25px;
            transition: 0.3s;
            h2, h5 {
                color: $whiteShade;
                &:hover, &:focus {
                color: $accent;
                }
            }
        }
    }
}

li.currentPage h5 {
    color: $accent;
}

