// HOME SECTIONS

// about1 section

.aboutSection {
    background-color: $whiteShade;
    padding: 120px 0 150px 0;
    .aboutContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2, p {
            padding-bottom: 20px;
        }
    }
}

// blog preview section

.blogContainer {
    position: relative;
    height: 830px;
    // width: 100%;
    // height: auto;
}

.blogPreview {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    .textContainer {
        width: 50%;
        h3, p {
            padding-bottom: 12px;
        }
    }
    .textContainerOne {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        padding-left: 118px;
    }
    .textContainerTwo {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        padding-right: 100px;
    }
    .imgContainer {
        width: 50%;
    }
}

.blogPreviewOne {
    position: absolute;
    top: -40px;
    text-align: left;
    img {
        width: 100%;
        height: auto;
        box-shadow: 18px 18px rgba($greenGrey, 1), -622px 18px rgba($greenGrey, 1);
    }
}

.blogPreviewTwo {
    position: absolute;
    bottom: -40px;
    text-align: right;
    img {
        width: 100%;
        height: auto;
        box-shadow: 18px 18px rgba($pine, 1), 622px 18px rgba($pine, 1);
    }
}

// about 2 section

.aboutTwoSection {
    background-color: $whiteShade;
    padding: 130px 0 100px 0;
    .aboutTwoContainer {
        display: flex;
        justify-content: space-between;
        .imgContainer {
            width: 24%;
            img {
                display: inline-block;
                width: 100%;
                box-shadow: 18px 18px rgba($greenGrey, 1);
            }
        }
        .textContainer {
            text-align: left;
            width: 66%;
            h2, p {
                padding-bottom: 20px;
            }
        }
    }
}

// banner image

.banner {
    height: 500px;
    background-image: url(../assets/home-image-5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    img {
        height: fit-content;

    }
}

// gallery

.galleryContainer {
    padding: 100px 0;
    ul {
        display: flex;
        justify-content: space-between;
        li {
            flex-basis: calc(100% / 3);
            img {
                width: 100%;
            }
        }
        li:nth-child(2) {
            margin: 0 40px;
        }
    }
}

// BLOG SECTIONS

.mainBlog {
    background-color: $whiteShade;
    text-align: left;
    padding: 100px 0;
}

.blogMainPage {
    display: flex;
    justify-content: space-between;
    .leftColumn {
        display: flex;
        flex-direction: column;
        width: 30.5%;
        .aboutArticle, .recentPosts {
            display: flex;
            flex-direction: column;
            background-color: white;
            padding: 40px;
            margin-bottom: 20px;
            .aboutImg {
                margin-bottom: 30px;
                width: 100%;
            }
            h4 {
                padding-bottom: 20px;
            }
            p {
                margin: 0;
                padding: 0;
            }
            .aboutLink {
                color: $greenGrey;
                font-weight: bold;
                &:hover, &:focus {
                    color: $accent;
                }
            }
            .postList {
                list-style: none;
                padding-left: 10px;
            }
            .postList:before { 
                content:"•"; 
                font-size: 13pt; 
                padding-right: 15px;
            }
        }
    }
    .rightColumn {
        display: flex;
        flex-direction: column;
        width: 66%;
        .mostRecentPost, .comments {
            background-color: white;
            padding: 40px;
            margin-bottom: 40px;
            border-bottom: 6px solid $greenGrey;
        }
        h3 {
            padding: 10px 0;
        }
        .commentOne {
            border-bottom: none;
            margin-bottom: 20px;
        }
    }
}

.comments {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    .commentContent {
        width: 86%;
        p {
            margin: 0;
            padding: 0;
        }
    }
}

// CONTACT PAGE

.socialNav {
    display: flex;
    padding-bottom: 10px;
    li {
        list-style: none;
        text-decoration: none;
        padding-right: 30px;
        font-size: 1.6rem;
        i {
            color: $pine;
            transition: 0.3s;
            &:hover, &:focus {
                color: $greenGrey;
            }
        }
    }
}

address {
    font-style: normal;
}

.emailAddress {
    font-weight: bold;
    padding: 20px 0;
}