// HOME SECTIONS

.aboutSection {
    background-color: $whiteShade;
    padding-top: 130px;
    padding-bottom: 180px;
    .aboutContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2, p {
            padding-bottom: 20px;
        }
    }
}

.blogSection {
    padding: 100px 0;
    .blogContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // flex-wrap: wrap;

}

.blogPreview {
        display: flex;
        flex-wrap: nowrap;
        position: relative;
        // justify-content: space-between;
        .textContainer, .imgContainer {
            width: 45%;
        }
        .imgContainer {
            position: absolute;
            background-color: $greenGrey;
            width: 800px;
            height: 90%;
        }
    }
}
.blogPreviewOne {
    text-align: left;
    img {
        // display: block;
        // height: 100%;
        box-shadow: 15px 15px rgba($greenGrey, 1);
    }
}

.blogPreviewTwo {
    text-align: right;
    img {
        // display: block;
        // height: 100%;
        box-shadow: -15px -15px rgba($greenGrey, 1);
    }
}

.aboutTwoSection {
    background-color: $whiteShade;
    padding: 100px 0;
    .aboutTwoContainer {
        display: flex;
        justify-content: space-between;
        text-align: left;
        .imgContainer {
            img {
                display: block;
                height: 100%;
                box-shadow: 15px 15px rgba($greenGrey, 1);
            }
        }
        .textContainer {
            margin-left: 150px;
            width: 75%;
            h2, p {
                padding-bottom: 20px;
            }
        }

    }
}

.backgroundImg {
    // display: flex;
    width: 100%;
    height: 65vh;
    background-image: url(../assets/home-image-5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    img {
        height: auto;
    }
}

.galleryContainer {
    padding: 100px 0;
    ul {
        display: flex;
        justify-content: space-between;
        li {
            flex-basis: calc(100% / 3 - 20px);
        }
        li:nth-child(2) {
            padding: 0 20px;
    }
    }
}

// BLOG SECTIONS

.mainBlog {
    background-color: $whiteShade;
    text-align: left;
    padding: 100px 0;
}

.blogMainPage {
    display: flex;
    justify-content: space-between;
    .leftColumn {
        display: flex;
        flex-direction: column;
        flex-basis: 33%;
        .aboutArticle, .recentPosts {
            display: flex;
            flex-direction: column;
            background-color: white;
            padding: 40px;
            margin-bottom: 20px;
            img {
                margin-bottom: 30px;
            }
            h4 {
                padding-bottom: 10px;
            }
            .aboutLink {
                color: $greenGrey;
                font-weight: bold;
                &:hover, &:focus {
                    color: $accent;
                }
            }
            // li {
            //     // list-style: inside;
            // }
        }
    }
    .rightColumn {
        display: flex;
        flex-direction: column;
        flex-basis: 63%;
        .mostRecentPost, .comments {
            background-color: white;
            padding: 40px;
            margin-bottom: 40px;
            border-bottom: 6px solid $greenGrey;
        }
        .commentOne {
            border-bottom: none;
        }
    }
}

.comments {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    .commentContent {
        width: 85%;
        p {
            margin: 0;
            padding: 0;
        }
    }
}

// CONTACT PAGE

.socialNav {
    display: flex;
    padding-bottom: 10px;
    li {
        list-style: none;
        text-decoration: none;
        padding-right: 30px;
        font-size: 1.2rem;
        i {
            color: $pine;
            transition: 0.3s;
            &:hover, &:focus {
            color: $greenGrey;
            }
        }
    }
}

address {
    font-style: normal;
}

.emailAddress {
    font-weight: bold;
}