/* site fonts */

$headingFont: "Abril Fatface";
$bodyFont: "Montserrat";

/* root element font-size set to 125% => 1 rem = 20px */

$baseFontSize: 1rem;

/* site colours */

$accent: #e4a436;
$greenGrey: #709b6b;
$pine: #345231;
$black: #1f1818;
$whiteShade: #f6f6f6;

