@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* site fonts */
/* if we set our root element font-size to 125%, then 1 rem = 20px */
/* site colours */
html {
  font-size: 125%;
}

body {
  font-family: "Montserrat";
  font-size: 1rem;
  font-weight: normal;
  color: #1f1818;
  text-align: center;
  line-height: 1.6rem;
  letter-spacing: 0;
}

h1, h2, h3, h4 {
  font-family: "Abril Fatface";
  font-weight: normal;
  color: #1f1818;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0;
}

h1 {
  font-size: 4rem;
  color: #f6f6f6;
  line-height: 4.6rem;
}

h2 {
  font-size: 2.1rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1rem;
  font-weight: bold;
  color: #f6f6f6;
  line-height: 1.45rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0;
}

ul, li, a, input {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.wrapper {
  max-width: 1280px;
  width: 85%;
  margin: 0 auto;
}

button, .button {
  color: #1f1818;
  background-color: #e4a436;
  padding: 8px 16px;
  font-family: "Abril Fatface";
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.6rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  border: 3px solid #e4a436;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
button:hover, button:focus, .button:hover, .button:focus {
  border: 3px solid #e4a436;
  color: #1f1818;
  background-color: #f6f6f6;
}

img {
  display: inline-block;
}

.siteNav {
  background-color: #345231;
  z-index: 10;
  position: sticky;
  top: 0;
}
.siteNav .topNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0;
}
.siteNav .topNav li {
  padding: 0 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.siteNav .topNav li h2, .siteNav .topNav li h5 {
  color: #f6f6f6;
}
.siteNav .topNav li h2:hover, .siteNav .topNav li h2:focus, .siteNav .topNav li h5:hover, .siteNav .topNav li h5:focus {
  color: #e4a436;
}
.siteNav .topNav li.currentPage h5 {
  color: #e4a436;
}
.siteNav input[type=checkbox] {
  opacity: 0;
  position: absolute;
}
.siteNav input[type=checkbox]:checked ~ .slideOutNav {
  left: 0;
}
.siteNav input[type=checkbox]:focus + label {
  color: #e4a436;
}
.siteNav .menuButton i {
  cursor: pointer;
  padding: 20px 0;
  font-size: 2rem;
  color: #f6f6f6;
}
.siteNav .menuButton i:hover, .siteNav .menuButton i:focus {
  color: #e4a436;
}

.slideOutNav {
  background-color: #345231;
  border-right: 1px solid #e4a436;
  position: fixed;
  top: 0;
  left: -400px;
  height: 100vh;
  width: 100%;
  max-width: 400px;
  padding: 35px 50px;
  z-index: 20;
  -webkit-transition: 0.75s;
  transition: 0.75s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.slideOutNav .buttonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.slideOutNav .buttonContainer label {
  padding: 10px 0 10px 20px;
}
.slideOutNav .menuClose {
  font-family: "Montserrat";
  color: #f6f6f6;
  font-size: 1.5rem;
  display: block;
  cursor: pointer;
}
.slideOutNav .menuClose:hover, .slideOutNav .menuClose:focus {
  color: #e4a436;
}
.slideOutNav li {
  padding: 15px 0px;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}
.slideOutNav li h2 {
  color: #e4a436;
}
.slideOutNav li h5 {
  color: #f6f6f6;
}
.slideOutNav li h5:hover, .slideOutNav li h5:focus {
  color: #e4a436;
}

.headerHome {
  background-color: #345231;
  height: 700px;
}
.headerHome .headerContainer {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.headerHome .headerContainer .textContainer {
  width: 58%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.headerHome .headerContainer .textContainer h1 {
  font-size: 7rem;
  line-height: 8rem;
}
.headerHome .headerContainer .textContainer h1::before {
  content: url(../assets/circle-text.png);
  top: 36%;
  right: 71%;
  position: absolute;
}
.headerHome .headerContainer .imgContainer {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.headerHome .headerContainer .imgContainer img {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: -70px;
  -webkit-box-shadow: 18px 18px white;
          box-shadow: 18px 18px white;
}

.header {
  background-image: url(../assets/blog-image-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
}
.header .headerContainer {
  position: relative;
  height: 100%;
}
.header .headerContainer h1 {
  position: absolute;
  left: 0;
  bottom: -16px;
}

.headerContact {
  background-image: url(../assets/contact-image-1.jpg);
}

.aboutSection {
  background-color: #f6f6f6;
  padding: 120px 0 150px 0;
}
.aboutSection .aboutContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.aboutSection .aboutContainer h2, .aboutSection .aboutContainer p {
  padding-bottom: 20px;
}

.blogContainer {
  position: relative;
  height: 830px;
}

.blogPreview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.blogPreview .textContainer {
  width: 50%;
}
.blogPreview .textContainer h3, .blogPreview .textContainer p {
  padding-bottom: 12px;
}
.blogPreview .textContainerOne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 118px;
}
.blogPreview .textContainerTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-right: 100px;
}
.blogPreview .imgContainer {
  width: 50%;
}

.blogPreviewOne {
  position: absolute;
  top: -40px;
  text-align: left;
}
.blogPreviewOne img {
  width: 100%;
  height: auto;
  -webkit-box-shadow: 18px 18px #709b6b, -622px 18px #709b6b;
          box-shadow: 18px 18px #709b6b, -622px 18px #709b6b;
}

.blogPreviewTwo {
  position: absolute;
  bottom: -40px;
  text-align: right;
}
.blogPreviewTwo img {
  width: 100%;
  height: auto;
  -webkit-box-shadow: 18px 18px #345231, 622px 18px #345231;
          box-shadow: 18px 18px #345231, 622px 18px #345231;
}

.aboutTwoSection {
  background-color: #f6f6f6;
  padding: 130px 0 100px 0;
}
.aboutTwoSection .aboutTwoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.aboutTwoSection .aboutTwoContainer .imgContainer {
  width: 24%;
}
.aboutTwoSection .aboutTwoContainer .imgContainer img {
  display: inline-block;
  width: 100%;
  -webkit-box-shadow: 18px 18px #709b6b;
          box-shadow: 18px 18px #709b6b;
}
.aboutTwoSection .aboutTwoContainer .textContainer {
  text-align: left;
  width: 66%;
}
.aboutTwoSection .aboutTwoContainer .textContainer h2, .aboutTwoSection .aboutTwoContainer .textContainer p {
  padding-bottom: 20px;
}

.banner {
  height: 500px;
  background-image: url(../assets/home-image-5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.banner img {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.galleryContainer {
  padding: 100px 0;
}
.galleryContainer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.galleryContainer ul li {
  -ms-flex-preferred-size: 33.3333333333%;
      flex-basis: 33.3333333333%;
}
.galleryContainer ul li img {
  width: 100%;
}
.galleryContainer ul li:nth-child(2) {
  margin: 0 40px;
}

.linkSection {
  background-color: #f6f6f6;
}

.linkContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 100px 0;
}
.linkContainer .linkContent {
  width: 49%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}
.linkContainer .linkContent i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  background-color: #e4a436;
  border-radius: 50%;
  padding: 16px;
}
.linkContainer .linkContent .linkText {
  padding-left: 20px;
}
.linkContainer .linkContent .linkText h3 {
  padding-top: 12px;
}
.linkContainer .linkPhotos, .linkContainer .linkAbout {
  margin-bottom: 40px;
}

.mainBlog {
  background-color: #f6f6f6;
  text-align: left;
  padding: 100px 0;
}

.blogMainPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.blogMainPage .leftColumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30.5%;
}
.blogMainPage .leftColumn .aboutArticle, .blogMainPage .leftColumn .recentPosts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  padding: 40px;
  margin-bottom: 20px;
}
.blogMainPage .leftColumn .aboutArticle .aboutImg, .blogMainPage .leftColumn .recentPosts .aboutImg {
  margin-bottom: 30px;
  width: 100%;
}
.blogMainPage .leftColumn .aboutArticle h4, .blogMainPage .leftColumn .recentPosts h4 {
  padding-bottom: 20px;
}
.blogMainPage .leftColumn .aboutArticle p, .blogMainPage .leftColumn .recentPosts p {
  margin: 0;
  padding: 0;
}
.blogMainPage .leftColumn .aboutArticle .aboutLink, .blogMainPage .leftColumn .recentPosts .aboutLink {
  color: #709b6b;
  font-weight: bold;
}
.blogMainPage .leftColumn .aboutArticle .aboutLink:hover, .blogMainPage .leftColumn .aboutArticle .aboutLink:focus, .blogMainPage .leftColumn .recentPosts .aboutLink:hover, .blogMainPage .leftColumn .recentPosts .aboutLink:focus {
  color: #e4a436;
}
.blogMainPage .leftColumn .aboutArticle .postList, .blogMainPage .leftColumn .recentPosts .postList {
  list-style: none;
  padding-left: 10px;
}
.blogMainPage .leftColumn .aboutArticle .postList:before, .blogMainPage .leftColumn .recentPosts .postList:before {
  content: "•";
  font-size: 13pt;
  padding-right: 15px;
}
.blogMainPage .rightColumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 66%;
}
.blogMainPage .rightColumn .mostRecentPost, .blogMainPage .rightColumn .comments {
  background-color: white;
  padding: 40px;
  margin-bottom: 40px;
  border-bottom: 6px solid #709b6b;
}
.blogMainPage .rightColumn h3 {
  padding: 10px 0;
}
.blogMainPage .rightColumn .commentOne {
  border-bottom: none;
  margin-bottom: 20px;
}

.comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.comments .commentContent {
  width: 86%;
}
.comments .commentContent p {
  margin: 0;
  padding: 0;
}

.socialNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 10px;
}
.socialNav li {
  list-style: none;
  text-decoration: none;
  padding-right: 30px;
  font-size: 1.6rem;
}
.socialNav li i {
  color: #345231;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.socialNav li i:hover, .socialNav li i:focus {
  color: #709b6b;
}

address {
  font-style: normal;
}

.emailAddress {
  font-weight: bold;
  padding: 20px 0;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #1f1818;
  outline: none;
}
form input, form textarea {
  border: none;
  font-family: "Montserrat";
  padding: 30px;
  margin-bottom: 20px;
  accent-color: #e4a436;
}
form input::-webkit-input-placeholder, form textarea::-webkit-input-placeholder {
  color: #1f1818;
  opacity: 1;
}
form input::-moz-placeholder, form textarea::-moz-placeholder {
  color: #1f1818;
  opacity: 1;
}
form input:-ms-input-placeholder, form textarea:-ms-input-placeholder {
  color: #1f1818;
  opacity: 1;
}
form input::-ms-input-placeholder, form textarea::-ms-input-placeholder {
  color: #1f1818;
  opacity: 1;
}
form input::placeholder, form textarea::placeholder {
  color: #1f1818;
  opacity: 1;
}
form textarea {
  padding-top: 40px;
  resize: none;
}
form .contactInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
form .contactInfo .formName, form .contactInfo .formEmail {
  width: 49%;
}

.copyright {
  background-color: #1f1818;
  padding: 6px 0;
  color: white;
}
.copyright p {
  padding: 0;
  margin: 0;
}
.copyright p a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.copyright p a:hover, .copyright p a:focus {
  color: #e4a436;
}

@media (max-width: 1460px) {
  .headerHome {
    height: 500px;
  }
  .headerHome .headerContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .headerHome .headerContainer .textContainer {
    display: none;
  }
  .headerHome .headerContainer .imgContainer {
    width: 33%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 500px;
  }
  .headerHome .headerContainer .imgContainer img {
    width: 100%;
    height: auto;
  }

  .blogContainer {
    width: 85%;
    height: auto;
  }

  .blogPreview {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: space-between;
        -ms-flex-align: space-between;
            align-items: space-between;
    width: 100%;
  }
  .blogPreview .textContainer {
    width: 100%;
  }
  .blogPreview .textContainerOne {
    padding-left: 0;
    padding-top: 60px;
  }
  .blogPreview .textContainerTwo {
    padding-right: 0;
    padding-bottom: 60px;
  }
  .blogPreview .imgContainer {
    width: 100%;
  }

  .blogPreviewOne {
    position: relative;
    top: -40px;
  }
  .blogPreviewOne img {
    width: 60%;
    height: auto;
    -webkit-box-shadow: 18px 18px #709b6b, -120px 18px #709b6b;
            box-shadow: 18px 18px #709b6b, -120px 18px #709b6b;
  }

  .blogPreviewTwo {
    position: relative;
    bottom: -40px;
  }
  .blogPreviewTwo img {
    width: 60%;
    height: auto;
    -webkit-box-shadow: 18px 18px #345231, 120px 18px #345231;
            box-shadow: 18px 18px #345231, 120px 18px #345231;
  }

  .blogMainPage {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blogMainPage .leftColumn, .blogMainPage .rightColumn {
    width: 100%;
  }
  .blogMainPage .leftColumn .aboutArticle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .blogMainPage .leftColumn .aboutArticle .aboutImg {
    width: 35%;
    margin-bottom: 0;
  }
  .blogMainPage .leftColumn .aboutArticle .aboutImg img {
    width: 100%;
    height: auto;
  }
  .blogMainPage .leftColumn .aboutArticle .aboutText {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
  }
}
@media (max-width: 1024px) {
  .headerHome {
    height: 550px;
  }
  .headerHome .headerContainer .imgContainer {
    width: 50%;
    top: 550px;
  }

  .aboutTwoSection .aboutTwoContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .aboutTwoSection .aboutTwoContainer .imgContainer {
    width: 50%;
  }
  .aboutTwoSection .aboutTwoContainer .textContainer {
    margin-top: 50px;
    text-align: center;
    width: 100%;
  }

  form .contactInfo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: space-between;
        -ms-flex-align: space-between;
            align-items: space-between;
  }
  form .contactInfo .formName, form .contactInfo .formEmail {
    width: 100%;
  }
  form input, form textarea {
    padding: 25px;
    margin-bottom: 15px;
  }

  .linkContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .linkContainer .linkContent {
    width: 100%;
  }
  .linkContainer .linkPhotos, .linkContainer .linkAbout, .linkContainer .linkBlog {
    margin-bottom: 20px;
  }

  .comments {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .comments .commentContent {
    width: 100%;
  }
  .comments .commentPhoto {
    margin-bottom: 20px;
  }
}
@media (min-width: 781px) {
  .menuButton {
    display: none;
  }
}
@media (max-width: 780px) {
  body {
    font-size: 0.9rem;
  }

  h1 {
    font-size: 3.9rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.1rem;
  }

  .siteNav .topNav {
    display: none;
  }

  .headerHome {
    height: 500px;
  }
  .headerHome .headerContainer .imgContainer {
    width: 70%;
    top: 500px;
  }

  .blogPreviewOne {
    position: relative;
    top: -40px;
  }
  .blogPreviewOne img {
    width: 100%;
    height: auto;
    -webkit-box-shadow: 18px 18px #709b6b, -120px 18px #709b6b;
            box-shadow: 18px 18px #709b6b, -120px 18px #709b6b;
  }

  .blogPreviewTwo {
    position: relative;
    bottom: -40px;
  }
  .blogPreviewTwo img {
    width: 100%;
    height: auto;
    -webkit-box-shadow: 18px 18px #345231, 120px 18px #345231;
            box-shadow: 18px 18px #345231, 120px 18px #345231;
  }

  .banner {
    height: 400px;
  }
}
@media (max-width: 640px) {
  body {
    font-size: 0.9rem;
  }

  .headerHome {
    height: 450px;
  }
  .headerHome .headerContainer .imgContainer {
    width: 70%;
    top: 450px;
  }

  .aboutTwoSection .aboutTwoContainer .imgContainer {
    width: 100%;
  }

  .banner {
    height: 300px;
  }

  .galleryContainer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: space-between;
        -ms-flex-align: space-between;
            align-items: space-between;
  }
  .galleryContainer ul li {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .galleryContainer ul li img {
    width: 100%;
  }
  .galleryContainer ul li:nth-child(2) {
    margin: 20px 0;
  }

  .blogMainPage .leftColumn .aboutArticle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: space-between;
        -ms-flex-align: space-between;
            align-items: space-between;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .blogMainPage .leftColumn .aboutArticle .aboutImg {
    width: 100%;
    margin-bottom: 20px;
  }
  .blogMainPage .leftColumn .aboutArticle .aboutImg img {
    width: 100%;
    height: auto;
  }
  .blogMainPage .leftColumn .aboutArticle .aboutText {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
@media (max-width: 490px) {
  body {
    font-size: 0.8rem;
  }

  .headerHome {
    height: 350px;
  }
  .headerHome .headerContainer .imgContainer {
    width: 85%;
    top: 350px;
  }

  .banner {
    height: 200px;
  }

  button, .button {
    padding: 8px 18px;
    font-size: 0.8rem;
  }
}